@import "tailwindcss";
@config "../../../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --color-primary-500: #6366f1;
  --color-primary-600: #4f46e5;
}

@layer base {
    body {
        @apply antialiased text-slate-800 bg-slate-50 dark:bg-slate-900 dark:text-slate-200 transition-colors duration-300;
    }
}